body {
  background-color: aqua;
}

#heading {
  background-color: blueviolet;
}

button {
  background-color: blue;
  color: white;
}

.div {
  height: 400px;
  width: 100px;
  background-color: blueviolet;
  color: white;
}
