/* default navbar */
#navbar {
  background: transparent;
  transition: all 0.3s ease;
}

/* scroll नंतर apply होणारी class */
.nav-scrolled {
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* content overlap avoid */
body {
  padding-top: 70px;
}
